<h2>Project List</h2>
<a [routerLink]="['add']" class="button-21">Add Project</a>
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Domain</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor=" let d of projList">
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.domain}}</td>
            <ng-container *ngIf="d.id != 4">
            <td>
                <button class = "button-21"   [routerLink]="['update',d.id]" >Update</button>
                <button (click)="delete(d.id)" class = "button-20" style="margin-left: 30px;">Delete</button>
                <button class = "button-33" [routerLink]="['employees',d.id]" style="margin-left: 30px;" >Employee List</button>
            </td>
        </ng-container>
        </tr>
    </tbody>
</table>
