<label>Leave Details</label>
<a [routerLink]="['add']" class="button-21">Leave Request</a>
<table class="table table-striped">
    <thead>
        <th>EmployeeId</th>
        <th>LeaveType</th>
        <th>RequestedDays</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>StatusType</th>
        <th>Reason</th>
        <!-- <th>Manager Id</th> -->
    </thead>
    <tbody>
        <tr *ngFor="let e of leaveList">
            <ng-container *ngIf="isManagerId(e.managerID,e.employeeId)">          
            <td>{{e.employeeId}}</td>
            <td>{{leavetype[e.leaveType]}}</td>
            <td>{{e.requestedDays}}</td>
            <td>{{e.startDate | date}}</td>
            <td>{{e.endDate | date}}</td>
            <td>{{statustype[e.statusType]}}</td>
            <td>{{e.reason}}</td>
            <!-- <td>{{e.managerId}}</td> -->
            <ng-container *ngIf="!isNotEmployee()">
                <td>
                    <button (click)="delete(e.id)" class="button-20">Delete</button>
                    
                </td>
            </ng-container>


            <ng-container *ngIf="isNotEmployee()">
            <td>
                <button (click)="accept(e.id)" class="button-21">Accept</button>
                <button (click)="reject(e.id)" class="button-20" style="margin-left: 30px;">Reject</button>
            </td>
            </ng-container>
            </ng-container> 
        </tr>
    </tbody>
</table>

